/* Reset some default styles */
body, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #202020;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #333;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a,
  nav ul li button {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  nav ul li a:hover,
  nav ul li button:hover {
    color: #bbb;
  }
  
  #login-status {
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
  }
  
  form {
    background-color: #333;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form input[type="submit"] {
    margin-top: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    width: auto;
    min-width: 100px;  
  }
  
  form input[type="submit"]:hover {
    background-color: #777;
  }
  
  form input[type="number"] {
    margin-top: 10px;
    padding: 20px;
    color: #fff;
    background-color: #555;
    border: none;
    border-radius: 5px;
    width: auto;
  }
  
  div h2 {
    text-align: center;
  }
  
  
  
  
  
  